body{
	font-weight: 100;
}
/*Login*/
.loginbackground{
	width:50%;
	height: 100%;
	margin:0;
	padding: 0;

}

.loginbackground img{
	position: absolute;
	right:0;
	width: auto;
	height:100%;
	overflow: hidden;
}
.login{
	padding: 0;
	margin:0;
	width: 50%;
	height:100%;
	text-align: center;
	background:-webkit-gradient(linear, right bottom, left top, from(#3a7bd5), to(#00d2ff));
}

.login h3{
	margin-top: 15%;
	margin-bottom: 10%;
}

.login input{
	width: 250px;
	margin: 5% 10% 0% 10%;
	padding: 10px;
	background: transparent;
	border: 0;
    height: 40px;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 17px;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
   font-size: 15px;
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

h5{
	margin-top: 6%;
}

h6{
	margin:0;
}

a{
	color:#fff;
	opacity: 0.75;
}

a:hover{
	text-decoration: none;
	color:#fff;
	opacity: 1;
}
.login button[type=submit]{
	width: 180px;
	margin: 5% 10% 0% 10%;
	padding: 10px;
	background-color: #fff;
	color:#00a8ff;
	border: 0;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
    font-size: 17px;
}

.login button[type=submit]:hover{
	background-color: #00d2ff;
	color:#fff;
    outline: none;

}

